### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [76]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [77]:
# Extract the data for the total players
total_players = len(purchase_data["SN"].unique())

# Save the total players data in a summary data frame
total_players_df = pd.DataFrame({"Total Players": [total_players]})

# Print the total players summary data frame
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [78]:
# Extract the information for the total purchasing analysis from the data frame 
unique_items = purchase_data["Item Name"].nunique()
average_price = purchase_data["Price"].mean()
number_purchases = len(purchase_data)
total_revenue = purchase_data["Price"].sum()

# Save the total purchasing analysis data in a summary data frame
purchasing_total_df = pd.DataFrame({"Number of Unique Items": [unique_items], "Average Price": [average_price], "Number of Purchases": [number_purchases], "Total Revenue": [total_revenue]})

# Format the total purchasing analysis summary data frame
purchasing_total_df["Average Price"] = purchasing_total_df["Average Price"].map("${:.2f}".format)
purchasing_total_df["Total Revenue"] = purchasing_total_df["Total Revenue"].map("${:,.2f}".format)

# Print the total purchasing analysis summary data frame
purchasing_total_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [79]:
# Extract the information for the gender demographic analysis from the data frame 
gender_overview_df = purchase_data.loc[:, ["SN", "Gender"]]

# Remove any rows with duplicate player names
gender_overview_df = gender_overview_df.drop_duplicates()

# Count the values for gender and assign to df
gender_summary_df = gender_overview_df["Gender"].value_counts()

# Transpose the dataframe columns and rows
gender_summary_df = pd.DataFrame(gender_summary_df.transpose())

# Format the column name for total count
gender_summary_df = gender_summary_df.rename(columns={"Gender": "Total Count"})

# Calculate the perentage of players by gender
gender_summary_df["Percentage of Player"] = ((gender_summary_df["Total Count"] / total_players) * 100)

# Format the perentage of players column
gender_summary_df["Percentage of Player"] = gender_summary_df["Percentage of Player"].map("{:.2f}%".format)

# gender_summary_df = gender_summary_df.sort_index()

# Print the gender demographics analysis summary data frame

gender_summary_df

                       Total Count Percentage of Player
Male                           484               84.03%
Female                          81               14.06%
Other / Non-Disclosed           11                1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [88]:
purchase_gender_df = purchase_data.loc[:,["Gender", "Price"]]

purchase_summary_df = purchase_gender_df.groupby(["Gender"]).count()

purchase_summary_df = purchase_summary_df.rename(columns={"Price":"Purchase Count"})

purchase_summary_df["Average Purchase Price"] = purchase_gender_df.groupby(["Gender"]).mean()

purchase_summary_df["Total Purchase Value"] = purchase_gender_df.groupby(["Gender"]).sum()

purchase_summary_df["Total Purchase Value"] = purchase_summary_df.loc[:,"Total Purchase Value"].astype(float)

purchase_summary_df["Average Total Purchase Price"] = purchase_summary_df["Total Purchase Value"]/ gender_summary_df["Total Count"]

purchase_summary_df["Average Purchase Price"] = purchase_summary_df["Average Purchase Price"].map("${:.2f}".format)
purchase_summary_df["Total Purchase Value"] = purchase_summary_df["Total Purchase Value"].map("${:.2f}".format)
purchase_summary_df["Average Total Purchase Price"] = purchase_summary_df["Average Total Purchase Price"].map("${:.2f}".format)

purchase_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Price
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame