### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [432]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [421]:
# Extract the data for the total players
total_players_data = len(purchase_data["SN"].unique())

# Save the total players data in a summary data frame
total_players_df = pd.DataFrame({"Total Players": [total_players_data]})

# Print the total players data frame
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [422]:
# Extract the information for the total purchasing analysis
unique_items = purchase_data["Item Name"].nunique()
average_price = purchase_data["Price"].mean()
number_purchases = len(purchase_data)
total_revenue = purchase_data["Price"].sum()

# Save the total purchasing analysis data in a data frame
purchasing_total_df = pd.DataFrame({"Number of Unique Items": [unique_items], "Average Price": [average_price], "Number of Purchases": [number_purchases], "Total Revenue": [total_revenue]})

# Formating of the summary data frame columns
purchasing_total_df["Average Price"] = purchasing_total_df["Average Price"].map("${:,.2f}".format)
purchasing_total_df["Total Revenue"] = purchasing_total_df["Total Revenue"].map("${:,.2f}".format)

# Print the summary data frame
purchasing_total_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [423]:
# Extract the information for the gender demographic analysis
gender_overview_data = purchase_data.loc[:, ["SN", "Gender"]]

# Remove any rows with duplicate player names
gender_overview_df = gender_overview_data.drop_duplicates()

# Count the values for gender and assign to df
gender_overview_df = gender_overview_df["Gender"].value_counts()

# Transpose the dataframe columns and rows
gender_overview_df = pd.DataFrame(gender_overview_df.transpose())

# Format the column name for total count
gender_overview_df = gender_overview_df.rename(columns={"Gender": "Total Count"})

# Calculate the perentage of players by gender
gender_overview_df["Percentage of Players"] = ((gender_overview_df["Total Count"] / total_players) * 100)

# Format the perentage of players column
gender_overview_df["Percentage of Players"] = gender_overview_df["Percentage of Players"].map("{:.2f}%".format)

# Print the overview data frame
gender_overview_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [424]:
# Extract the information for the purchasing analysis by gender
purchase_gender_data = purchase_data.loc[:,["Gender", "Price"]]

# Group data frame by gender and perform purchase count 
purchase_gender_df = purchase_gender_data.groupby(["Gender"]).count()

# Rename column for purchase count
purchase_gender_df = purchase_gender_df.rename(columns={"Price":"Purchase Count"})

# Add column for average purchase price 
purchase_gender_df["Average Purchase Price"] = purchase_gender_data.groupby(["Gender"]).mean()

# Add column for total purchase price
purchase_gender_df["Total Purchase Value"] = purchase_gender_data.groupby(["Gender"]).sum()

# Add column for average total purchase per user
purchase_gender_df["Average Total Purchase Price"] = purchase_gender_df["Total Purchase Value"]/ gender_overview_df["Total Count"]

# Formatting of columns
purchase_gender_df["Average Purchase Price"] = purchase_gender_df["Average Purchase Price"].map("${:,.2f}".format)
purchase_gender_df["Total Purchase Value"] = purchase_gender_df["Total Purchase Value"].map("${:,.2f}".format)
purchase_gender_df["Average Total Purchase Price"] = purchase_gender_df["Average Total Purchase Price"].map("${:,.2f}".format)

# Print the summary data frame
purchase_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Price
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [425]:
# Extract the information for the age demographics
age_overview_data = purchase_data.loc[:, ["SN", "Age"]]
age_overview_df = age_overview_data.drop_duplicates()
del age_overview_df["SN"]

# Establish bins for ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, max(age_overview_df["Age"])]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

# Categorize the existing players using the age bins
age_overview_df["Age Ranges"] = pd.cut(age_overview_df["Age"], bins, labels=group_names, include_lowest=False)
age_overview_df = age_overview_df.groupby(["Age Ranges"]).count()

# Calculate the perentage of players by age group
age_overview_df = age_overview_df.rename(columns={"Age":"Total Count"})
age_overview_df["Percentage of Players"] = ((age_overview_df["Total Count"] / total_players) * 100)

# Format the perentage of players column
age_overview_df["Percentage of Players"] = age_overview_df["Percentage of Players"].map("{:.2f}%".format)

# Print the overview data frame
age_overview_df

            Total Count Percentage of Players
Age Ranges
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [426]:
# Extract the information for the purchasing analysis by age
purchase_age_data = purchase_data.loc[:,["Age", "Price"]]

# Categorize the existing players using the age bins
age_ranges_df = pd.DataFrame(purchase_age_data["Age"])
age_ranges_df["Age Ranges"] = pd.cut(age_ranges_df["Age"], bins, labels=group_names, include_lowest=False)
age_ranges_df = age_ranges_df.groupby(["Age Ranges"]).count()
age_ranges_df = age_ranges_df.rename(columns={"Age":"Purchase Count"})

# Run basic calculations to obtain purchase count and avg. purchase price
avg_price_df = pd.DataFrame(purchase_age_data)
avg_price_df["Age Ranges"] = pd.cut(avg_price_df["Age"], bins, labels=group_names, include_lowest=False)
avg_price_df = avg_price_df.groupby(["Age Ranges"]).mean()
avg_price_df = avg_price_df.rename(columns={"Price":"Average Purchase Price"})
del avg_price_df["Age"]

total_purchase_df = pd.DataFrame(purchase_age_data)
total_purchase_df["Age Ranges"] = pd.cut(total_purchase_df["Age"], bins, labels=group_names, include_lowest=False)
total_purchase_df = total_purchase_df.groupby(["Age Ranges"]).sum()
total_purchase_df = total_purchase_df.rename(columns={"Price":"Total Purchase Value"})
del total_purchase_df["Age"]

# Merge different data frames into summery data frame
purchase_age_df = pd.merge(age_ranges_df,avg_price_df,on="Age Ranges")
purchase_age_df = pd.merge(purchase_age_df,total_purchase_df,on="Age Ranges")

# Add column for avg. purchase total per person
purchase_age_df["Avg Total Purchase per Person"] = purchase_age_df["Total Purchase Value"]/age_overview_df["Total Count"]

# Formatting of columns
purchase_age_df["Average Purchase Price"] = purchase_age_df["Average Purchase Price"].map("${:,.2f}".format)
purchase_age_df["Total Purchase Value"] = purchase_age_df["Total Purchase Value"].map("${:,.2f}".format)
purchase_age_df["Avg Total Purchase per Person"] = purchase_age_df["Avg Total Purchase per Person"].map("${:,.2f}".format)

# Print the summary data frame
purchase_age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [427]:
# Extract the information for the purchasing analysis by age
spenders_data = purchase_data.loc[:,["SN", "Price"]]

# Run basic calculations to obtain the results
spenders_df = spenders_data.groupby("SN").count()
spenders_df = spenders_df.rename(columns={"Price":"Purchase Count"})
spenders_df["Average Purchase Price"] = spenders_data.groupby("SN").mean()
spenders_df["Total Purchase Value"] = spenders_df["Average Purchase Price"] * spenders_df["Purchase Count"]

# Sort by total purchase value
spenders_df = spenders_df.sort_values(["Total Purchase Value"], ascending=False)

# Formatting of columns
spenders_df["Average Purchase Price"] = spenders_df["Average Purchase Price"].map("${:,.2f}".format)
spenders_df["Total Purchase Value"] = spenders_df["Total Purchase Value"].map("${:,.2f}".format)

# Print the summary data frame
spenders_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [428]:
# Extract the information for the purchasing analysis by age
item_data = purchase_data.loc[:,["Item ID", "Item Name", "Price"]]

# Group by Item ID and Item Name and obtain purchase count
item_df = item_data.groupby(["Item ID", "Item Name"]).count()
item_df = item_df.rename(columns={"Price":"Purchase Count"})

# Perform calculations to obtain Item Price and Total Purchase Value
item_df["Item Price"] = item_data.groupby(["Item ID", "Item Name"]).mean()
item_df["Total Purchase Value"] = item_df["Item Price"] * item_df["Purchase Count"]

# Sort by purchase count
item_popular = item_df
item_popular = item_popular.sort_values(["Purchase Count"], ascending=False)

# Formatting of columns
item_popular["Item Price"] = item_popular["Item Price"].map("${:,.2f}".format)
item_popular["Total Purchase Value"] = item_popular["Total Purchase Value"].map("${:,.2f}".format)

# Print the summary data frame
item_popular.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [430]:
# Sort by total purchase value
item_profitable = item_df
item_profitable = item_profitable.sort_values(["Total Purchase Value"], ascending=False)

# Formatting of columns
item_profitable["Item Price"] = item_profitable["Item Price"].map("${:.2f}".format)
item_profitable["Total Purchase Value"] = item_profitable["Total Purchase Value"].map("${:.2f}".format)

# Print the summary data frame
item_profitable.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80